# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
astronomer-cosmos
dbt-core==1.9.5
dbt-duckdb==1.9.3
duckdb
pyarrow
apache-airflow-providers-amazon==9.21.0
airflow-provider-duckdb
streamlit

